<%= simple_form_for(@admin_post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :resume %>
    <%# text_area_tag :message, "", :class => "redactor", :rows => 40, :cols => 120 %>
    <%= f.input :message, :input_html => { :class => "redactor" } %>
    <%= f.association :admin_category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br>
